{% extends "disposicion.html" %}

{% block title %}
    Delete Sanction
{% endblock %}

{% block body %}
    <h1>Delete Sanction</h1>
    <br>
    <br>

    <!-- Mensaje para verificar si quieres borrar la sanción seleccionada. Pondré un mensaje para decirle el
    nombre del trabajador al cual le están borrando la sanción. -->
    {% for datos in sancion_actual %}
        <p>
<!--            Confirmar: ¿deseas borrar esta sanción de %%datos.nombre%% %%datos.apellidos%% de la base de datos?-->
            Confirm: do you wish to delete this sanction from {{datos.nombre}} {{datos.apellidos}} from the database?
        </p>
    {% endfor %}

    <!-- Botón de Submit/Enviar para borrar la sanción -->
    <form method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Delete">
        <a href="{% url 'sanctions_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
    </form>

{% endblock %}

