{% extends "disposicion.html" %}

{% block title %}
    Register Contract
{% endblock %}

<!-- Registrar una Contrato -->
{% block body %}

    <h1>Register Contract</h1>
    <br>
    <br>

    <p>
<!--        Registre el contrato de un trabajador.-->
        Register an employee's contract.
    </p>
    <br>
    <br>

    <!-- Esto me llama el formulario de Django para registrar Contrato.

    Agregaré "enctype" al formulario para que me permita subir imagenes.
    -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h3>Personal Data</h3>
        {{formulario_datos_personales.as_p}}
        <br>
        <br>

        <hr>

<!--        Datos del Contrato-->
        <h3>Contract's Data</h3>
        {{formulario_datos_contrato.as_p}}
        <br>
        <br>

        <input class="btn btn-primary" type="submit" value="Register Contract">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de planillas de Contrato -->
        <a href="{% url 'lista_contratos' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>


    </form>
{% endblock %}