{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    View Contract
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del Contrato -->
    {% for datos in contrato_seleccionado %}
        <h1>{{datos.nombre}} {{datos.apellidos}}'s Contract</h1>
        <br>
        <br>

        <!-- Datos del Contrato seleccionado.

        Tengo que usar el atributo “download” de un <a> en HTML para poder descargar un archivo.
        -->

        <!-- Datos personales -->
        <h3>Personal Data</h3>
        <br>

        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Sex</b></p>
        <p>{{datos.sexo}}</p>

        <p><b>Date of Birth</b></p>
        <p>{{datos.fecha_nacimiento}}</p>

        <p><b>Address</b></p>
        <p>{{datos.domicilio}}</p>

        <p><b>Email</b></p>
        <p>{{datos.email}}</p>

        <p><b>Phone Number</b></p>
        <p>{{datos.telefono}}</p>

        <!--Título o nivel máximo de estudios obtenidos-->
        <p><b>Degree or Maximum Level of Education Achieved</b></p>
        <p>{{datos.nivel_maximo_de_educacion_obtenido}}</p>

        <p><b>Social Security Number</b></p>
        <p>{{datos.numero_ips}}</p>

        <p><b>Bank Account Number</b></p>
        <p>{{datos.numero_cuenta_bancaria}}</p>

        <br>
        <br>

        <hr>

        <!-- Datos del Contrato -->
        <h3>Contract Data</h3>
        <br>

        <p><b>Job Title</b></p>
        <p>{{datos.cargo}}</p>

        <p><b>Job Type (Full-time or Part-time)</b></p>
        <p>{{datos.tiempo_completo_o_parcial}}</p>

        <p><b>Contract's Clauses</b></p>
        <a href="{{datos.clausulas_del_contrato.url}}" download>
<!--            Descargar Cláusulas del Contrato-->
            Download Contract's Clauses
        </a>
        <br>
        <br>

<!--        Firma del trabajador-->
        <p><b>Recruit's Signature</b></p>
        <img src="{{datos.firma_trabajador.url}}" height="100px">

        <!--Firma del encargado que le creó el contrato-->
        <p><b>Signature of the Manager Who Created the Contract</b></p>
        <img src="{{datos.firma_encargado_rrhh.url}}" height="100px">

<!--        Fecha en la que se registró el Contrato-->
        <p><b>Date In Which the Contract Was Registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
{% endblock %}