{% extends "disposicion.html" %}

{% block title %}
    Attendance Dates List
{% endblock %}

<!-- Lista de todas las Fechas de Asistencia de todos los trabajadores -->
{% block body %}

    <h1>Attendance Dates List</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra unos nuevos Fechas de Asistencia -->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar unas nuevas Fechas de Asistencia -->
    <a href="{% url 'register_attendance_date' %}" class="text-decoration-none">
        Add A New Date
    </a>
    <br>
    <br>

    <!-- Tabla que muestra todos los Fechas de Asistencia del personal -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Date
            </th>
            <th>
                View Attendance Entries
            </th>
            <!-- Esto llama cada aguinaldo registrado en la base de datos -->
            {% for fecha in fechas %}
                <tr>
                    <td>
                        {{fecha.fecha_asistencias}}
                    </td>
                    <td>
                        <a href="{{fecha.id}}/attendance-list" class="text-decoration-none">
                            View Attendance Entries
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->
{% endblock %}