{% extends "disposicion.html" %}

{% block title %}
    Register Attendance Entries
{% endblock %}

<!-- Página para registrar los Días de Asistencia de un empleado -->
{% block body %}

    <h1>Register Attendance Entries</h1>
    <br>
    <br>

    <p>
<!--        Añada las Asistencias de esta fecha.-->
        Add the attendance entries for this date.
    </p>

    <!-- Esto me llama el formulario de Django para registrar los Días de Asistencia. -->
    <form method="post">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Attendance Entry">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de dias de Asistencias -->
        <a href="{% url 'lista_dias_asistencia' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>
{% endblock %}