{% extends "disposicion.html" %}

{% block title %}
    Register An Attendance Date
{% endblock %}

<!-- Página para registrar los Días de Asistencia de un empleado -->
{% block body %}

    <h1>Register An Attendance Date</h1>
    <br>
    <br>

    <p>
<!--        Añada la fecha a la cual le quiere registrar sus Asistencias.-->
        Add the date to which you want to register attendance entries.
    </p>

    <!-- Esto me llama el formulario de Django para registrar los Días de Asistencia. -->
    <form method="post">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Date">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de Día de Asistencia -->
        <a href="{% url 'attendance_dates_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>
{% endblock %}