{% extends "disposicion.html" %}

{% block title %}
    Registrar Una Bonificación Familiar
{% endblock %}

<!-- Página para registrar la bonificación familiar del mes actual de un empleado -->
{% block body %}

    <h1>Registrar Una Bonificación Familiar</h1>
    <br>
    <br>

    <p>
        Añada los datos del trabajador y de su correspondiente bonificación familiar.
    </p>

    <!-- Esto me llama el formulario de Django para registrar las bonificaciones familiares -->
    <form method="post">
        {% csrf_token %}

        {{formulario.as_p}}   <!-- Django form -->

        <input class="btn btn-primary" type="submit" value="Registrar Bonificación">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de sanciones -->
        <a href="{% url 'lista_bonificaciones_familiares' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancelar
        </a>
        <br>
        <br>
    </form>

    <!-- Boton de prueba para probar si el JS de la carpeta static me funciona -->
<!--    <button onclick="prueba()">Clica para probar JS</button>-->
{% endblock %}