{% extends "disposicion.html" %}

{% block title %}
    Register a Large Family Bonus Report
{% endblock %}

<!-- Página para registrar la bonificación familiar del mes actual de un empleado -->
{% block body %}

    <h1>Register a Large Family Bonus Report</h1>
    <br>
    <br>

    <p>
<!--        Añada los datos del trabajador y de su correspondiente bonificación familiar.-->
        Fill in the employee's data, and the data regarding their corresponding large family bonus payment.
    </p>

    <!-- Esto me llama el formulario de Django para registrar las bonificaciones familiares -->
    <form method="post">
        {% csrf_token %}

        {{formulario.as_p}}   <!-- Django form -->

        <input class="btn btn-primary" type="submit" value="Register Report">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de sanciones -->
        <a href="{% url 'large_family_bonus_reports_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>

    <!-- Boton de prueba para probar si el JS de la carpeta static me funciona -->
<!--    <button onclick="prueba()">Clica para probar JS</button>-->
{% endblock %}