{% extends "disposicion.html" %}

{% block title %}
    Ver Bonificacion Familiar
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la bonificacion para diferenciar una bonificacion de la
    otra -->
    {% for datos in bonificacion_actual %}
        <h1>Bonificación Familiar de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos de la sanción seleccionada -->
        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Número de hijos menores</b></p>
        <p>{{datos.hijos_menores}}</p>

        <p><b>Número de hijos mayores con discapacidades</b></p>
        <p>{{datos.hijos_mayores_discapacitados}}</p>

        <p><b>Número total de hijos que cualifican para la bonificación familiar</b></p>
        <p>{{datos.total_hijos_para_bonificacion}}</p>

        <p><b>Salario mínimo mensual vigente</b></p>
        <p>{{datos.salario_minimo_mensual_vigente}} ₲</p>

        <br>
        <hr>
        <br>

        <h3>Bonificación Familiar a Pagar</h3>
        <br>
        <p><b>{{datos.bonificacion_familiar}} ₲</b></p>

        <br>
        <br>

        <p><b>Fecha que recibirá el pago</b></p>
        <p>{{datos.fecha_a_pagar}}</p>

        <p><b>Fecha en la que se registró la bonificación</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de sanciones -->
    <a href="{% url 'lista_bonificaciones_familiares' %}" class="text-decoration-none">
        Volver a la lista de bonificaciones
    </a>

{% endblock %}

