{% extends "disposicion.html" %}

{% block title %}
    Large Family Bonus Report Detailed View
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la bonificacion para diferenciar una bonificacion de la
    otra -->
    {% for datos in bonificacion_actual %}
        <h1>{{datos.nombre}} {{datos.apellidos}}'s Large Family Bonus Report</h1>
        <br>
        <br>

        <!-- Datos de la sanción seleccionada -->
        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Número de hijos menores-->
        <p><b>Number of underage children</b></p>
        <p>{{datos.hijos_menores}}</p>

<!--        Número de hijos mayores con discapacidades-->
        <p><b>Number of adult children with disabilities</b></p>
        <p>{{datos.hijos_mayores_discapacitados}}</p>

<!--        Número total de hijos que cualifican para la bonificación familiar-->
        <p><b>Total number of children that qualify for the Large Family Bonus</b></p>
        <p>{{datos.total_hijos_para_bonificacion}}</p>

<!--        Salario mínimo mensual vigente-->
        <p><b>Current monthly minimum wage</b></p>
        <p>{{datos.salario_minimo_mensual_vigente}} $</p>

        <br>
        <hr>
        <br>

<!--        Bonificación Familiar a Pagar-->
        <h3>Large Family Bonus amount that will be paid</h3>
        <br>
        <p><b>{{datos.bonificacion_familiar}} $</b></p>

        <br>
        <br>

<!--        Fecha que recibirá el pago-->
        <p><b>Date when the payment will be made</b></p>
        <p>{{datos.fecha_a_pagar}}</p>

<!--        Fecha en la que se registró la bonificación-->
        <p><b>Date when the Large Family Bonus was registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de sanciones -->
    <a href="{% url 'large_family_bonus_reports_list' %}" class="text-decoration-none">
<!--        Volver a la lista de bonificaciones-->
        Go back to the list of Large Family Bonus reports
    </a>

{% endblock %}

