{% extends "disposicion.html" %}

{% block title %}
    Register a Final Pay Report
{% endblock %}

<!-- Registrar una Liquidación del Personal -->
{% block body %}

    <h1>Register a Final Pay Report</h1>
    <br>
    <br>

    <p>
<!--        Añada los datos del trabajador que sale de la empresa y de su correspondiente Liquidación.-->
        Fill in the data corresponding to the employee who's leaving the company, and of their corresponding
        Final Pay report.
    </p>

    <!-- Esto me llama el formulario de Django para registrar Liquidación del Personal.

    Agregaré "enctype" al formulario para que me permita subir imagenes.
    -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

<!--        Calcular Liquidación-->
        <input class="btn btn-primary" type="submit" value="Calculate Final Pay">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de planillas de liquidacion del personal -->
        <a href="{% url 'lista_liquidacion_personal' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>


    </form>
{% endblock %}