{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Liquidación del Personal
{% endblock %}

<!-- Liquidación del Personal del trabajador seleccionado en formato para imprimir (sin navbar ni footer). -->
{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del Liquidación del Personal.

    No pondré el enlace a la página anterior para que no se vea en la planilla a imprimir.

    Tenia que poner “.url” al final de “datos.foto_firma_trabajador” para que me imprimiera la imagen -->
    {% for datos in liquidacion_seleccionada %}
        <h1>Liquidación de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos de la sanción seleccionada -->
        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Cargo del Trabajador</b></p>
        <p>{{datos.nombre_del_cargo}}</p>

        <p><b>Fecha de inicio de contrato</b></p>
        <p>{{datos.fecha_inicio_contrato}}</p>

        <p><b>Fecha de fin de contrato</b></p>
        <p>{{datos.fecha_fin_contrato}}</p>

        <p><b>Motivo de la finalización de su contrato</b></p>
        <p>{{datos.motivo_de_finalizacion_contrato}}</p>

        <p><b>Tipo de salario (mensual, jornal, quincencal, etc)</b></p>
        <p>{{datos.tipo_de_salario}}</p>

        <p><b>Salario mensual</b></p>
        <p>{{datos.salario_mensual}} ₲</p>

        <p><b>Aguinaldos de lo que va de año</b></p>
        <p>{{datos.aguinaldos}} ₲</p>

        <p><b>Salario percibido por horas extras</b></p>
        <p>{{datos.salario_por_horas_extras}} ₲</p>

        <p><b>Otros ingresos extras</b></p>
        <p>{{datos.otros_ingresos}} ₲</p>

        <p><b>Descuentos en total (si los tiene)</b></p>
        <p>{{datos.descuentos_en_total}} ₲</p>

        <hr>
        <br>
        <br>

        <!-- Total a liquidar -->
        <h3>Salario total a liquidar</h3>
        <br>
        <p><b>{{datos.salario_total_a_liquidar}} ₲</b></p>

        <br>
        <br>

        <p><b>Firma del encargado que le concedió la Liquidación del Trabajador</b></p>
        <img src="{{datos.foto_firma_encargado_rrhh.url}}" height="100px">

        <p><b>Fecha en la que se registró la Liquidación del Trabajador</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
{% endblock %}