{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Ver Legajo
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del Legajo -->
    {% for datos in legajo_seleccionado %}
        <h1>Legajo de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos del Legajo seleccionado.

        Tengo que usar el atributo “download” de un <a> en HTML para poder descargar un archivo.
        -->

        <!-- Datos personales -->
        <h3>Datos Personales</h3>
        <br>

        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Sexo</b></p>
        <p>{{datos.sexo}}</p>

        <p><b>Fecha de nacimiento</b></p>
        <p>{{datos.fecha_nacimiento}}</p>

        <p><b>Domicilio</b></p>
        <p>{{datos.domicilio}}</p>

        <p><b>Correo Electrónico</b></p>
        <p>{{datos.email}}</p>

        <p><b>Teléfono</b></p>
        <p>{{datos.telefono}}</p>

        <p><b>Nacionalidad</b></p>
        <p>{{datos.nacionalidad}}</p>

        <p><b>Fecha de vencimiento de la cédula</b></p>
        <p>{{datos.fecha_de_vencimiento_cedula}}</p>

        <p><b>Archivo con el Currículum en PDF</b></p>
        <a href="{{datos.curriculum.url}}" download>
            Descargar Currículum
        </a>
        <br>
        <br>

        <p><b>Título o nivel máximo de estudios obtenidos</b></p>
        <p>{{datos.nivel_maximo_de_educacion_obtenido}}</p>
        <br>
        <br>

        <hr>

        <!-- Información Jurídica -->
        <h3>Información Jurídica</h3>
        <br>

        <p><b>¿Tiene Antecedentes Penales?</b></p>
        <p>{{datos.tiene_antecedentes_penales}}</p>

        <p><b>Número del IPS</b></p>
        <p>{{datos.numero_ips}}</p>
        <br>
        <br>

        <hr>

        <!-- Datos de Admninistración Interna -->
        <h3>Datos de la Administración Interna de la Empresa</h3>
        <br>

        <p><b>Nombre del cargo</b></p>
        <p>{{datos.cargo}}</p>

        <p><b>Evaluación de Desempeño</b></p>
        <a href="{{datos.evaluacion_de_desempeno.url}}" download>
            Descargar Evaluación de Desempeño
        </a>
        <br>
        <br>

        <p><b>Sanciones (si las tiene)</b></p>
        <p>{{datos.sanciones}}</p>

        <p><b>Permisos que tomó para ausentarse (si las tomó)</b></p>
        <p>{{datos.permisos_para_ausentarse}}</p>
        <br>
        <br>

        <hr>

        <!-- Otros datos de interés -->
        <h3>Otros Datos de Interés</h3>
        <br>

        <p><b>Otros datos de interés</b></p>
        <p>{{datos.otros_datos}}</p>

        <p><b>Fecha en la que se registró el Legajo</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
{% endblock %}