{% extends "disposicion.html" %}

{% block title %}
    List of Christmas Bonus Forms
{% endblock %}

<!-- Lista de todos las Aguinaldos de todos los trabajadores -->
{% block body %}

    <h1>List of Christmas Bonus Forms</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra unos nuevos Aguinaldos -->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar unos nuevos Aguinaldos -->
    <a href="{% url 'registrar_aguinaldos' %}" class="text-decoration-none">
        <!-- Agregar Nuevos Aguinaldos -->
        Add a New Christmas Bonus Form
    </a>
    <br>
    <br>

    <!-- Tabla que muestra todos los Aguinaldos del personal -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Name
            </th>
            <th>
                ID Number
            </th>
            <th>
                Year
            </th>
            <th>
                <!-- Aguinaldos -->
                Christmas Bonus Amount
            </th>
            <th>
                <!-- Ver Planilla de Aguinaldos -->
                View Christmas Bonus Form
            </th>
            <!-- Esto llama cada aguinaldo registrado en la base de datos -->
            {% for aguinaldo in aguinaldos %}
                <tr>
                    <td>
                        {{aguinaldo.apellidos}}, {{aguinaldo.nombre}}
                    </td>
                    <td>
                        {{aguinaldo.cedula}}
                    </td>
                    <td>
                        {{aguinaldo.anno}}
                    </td>
                    <td>
                        {{aguinaldo.aguinaldos}} $
                    </td>
                    <td>
                        <!-- Ver Planilla -->
                        <a href="{{aguinaldo.id}}/ver-aguinaldo" class="text-decoration-none">View Form</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->
{% endblock %}