{% extends "disposicion.html" %}

{% block title %}
    Discount List
{% endblock %}

<!-- Lista de todas las descuentoes de permisos de todos los trabajadores -->
{% block body %}

    <h1>Discount List</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra una nueva descuentoes-->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar un nuevo descuento -->
    <a href="{% url 'register_discounts' %}" class="text-decoration-none">
<!--        Agregar Nuevo Descuento-->
        Add a New Discount
    </a>
    <br>
    <br>

    <!-- Tabla que muestra todos los descuentos de todo el personal -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
<!--                Nombre del Trabajador-->
                Employee's Name
            </th>
            <th>
<!--                Fecha en el que se le hará el Descuento-->
                Date To Apply Discount
            </th>
            <th>
<!--                Monto que se le Descontará de su Salario-->
                Amount To Be Subtracted From Their Salary
            </th>
            <th>
<!--                Ver Detalles-->
                View Details
            </th>
            <!-- Esto llama cada descuento registrado en la base de datos -->
            {% for descuento in descuentos %}
                <tr>
                    <td>
                        {{descuento.apellidos}}, {{descuento.nombre}}
                    </td>
                    <td>
                        {{descuento.fecha_aplicar_descuento}}
                    </td>
                    <td>
                        {{descuento.descuentos_totales}} $
                    </td>
                    <td>
                        <a href="{{descuento.id}}/view-discount-statement" class="text-decoration-none">View Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->
{% endblock %}