{% extends "disposicion.html" %}

{% block title %}
    Register a Discount
{% endblock %}

<!-- Página para registrar el descuento de un empleado -->
{% block body %}

<!--    Registrar Un Descuento para Un Trabajador-->
    <h1>Register a Discount for an Employee</h1>
    <br>
    <br>

    <p>
<!--        Añada los datos del trabajador y de sus correspondientes descuentos.-->
        Add the employee's data and all the data regarding the discounts that will be applied to their salary.
    </p>

    <!-- Esto me llama el formulario de Django para registrar un descuento. -->
    <form method="post">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Discounts">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de descuentos -->
        <a href="{% url 'discount_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>
{% endblock %}