{% extends "disposicion.html" %}

{% block title %}
    Discount Detailed View
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del descuento-->
    {% for datos in descuento_seleccionado %}
        <h1>{{datos.nombre}} {{datos.apellidos}}'s Discount Statement</h1>
        <br>
        <br>

        <!-- Datos del descuento seleccionado. -->
        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Fecha a Aplicar el Descuento-->
        <p><b>Date To Apply the Discount</b></p>
        <p>{{datos.fecha_aplicar_descuento}}</p>

<!--        Salario Base-->
        <p><b>Base Salary</b></p>
        <p>{{datos.salario_base}}</p>

<!--        Salario con Ingresos Extras-->
        <p><b>Salary With Extra Income</b></p>
        <p>{{datos.salario_con_ingresos_extras}}</p>

<!--        Descuento por la Cuota del IPS-->
        <p><b>Social Security Discount</b></p>
        <p>{{datos.descuento_cuota_ips}}</p>

<!--        Descuento por Sanciones-->
        <p><b>Discounts Due to Sanctions</b></p>
        <p>{{datos.descuento_sanciones}}</p>

<!--        Descuento por Inasistencias-->
        <p><b>Discounts Due to Non-attendances</b></p>
        <p>{{datos.descuento_inasistencias}}</p>

<!--        Otros Descuentos-->
        <p><b>Other Discounts</b></p>
        <p>{{datos.otros_descuentos}}</p>

<!--        Descuentos Totales-->
        <p><b>Total Discounts</b></p>
        <p>{{datos.descuentos_totales}}</p>

<!--        Fecha en la que se Registraron los Descuentos-->
        <p><b>Date in Which the Discounts Were Registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de descuentos-->
    <a href="{% url 'discount_list' %}" class="text-decoration-none">
<!--        Volver a la lista de descuentos-->
        Go Back to the List of Discounts
    </a>

{% endblock %}