{% extends "disposicion.html" %}

{% block title %}
    Ver Descuentos de un Trabajador
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del descuento-->
    {% for datos in descuento_seleccionado %}
        <h1>Descuentos de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos del descuento seleccionado. -->
        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Fecha a Aplicar el Descuento</b></p>
        <p>{{datos.fecha_aplicar_descuento}}</p>

        <p><b>Salario Base</b></p>
        <p>{{datos.salario_base}}</p>

        <p><b>Salario con Ingresos Extras</b></p>
        <p>{{datos.salario_con_ingresos_extras}}</p>

        <p><b>Descuento por la Cuota del IPS</b></p>
        <p>{{datos.descuento_cuota_ips}}</p>

        <p><b>Descuento por Sanciones</b></p>
        <p>{{datos.descuento_sanciones}}</p>

        <p><b>Descuento por Inasistencias</b></p>
        <p>{{datos.descuento_inasistencias}}</p>

        <p><b>Otros Descuentos</b></p>
        <p>{{datos.otros_descuentos}}</p>

        <p><b>Descuentos Totales</b></p>
        <p>{{datos.descuentos_totales}}</p>

        <p><b>Fecha en la que se Registraron los Descuentos</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de descuentos-->
    <a href="{% url 'lista_descuentos' %}" class="text-decoration-none">
        Volver a la lista de descuentos
    </a>

{% endblock %}