{% extends "disposicion.html" %}

{% block title %}
    Registrar Currículum
{% endblock %}

<!-- Página para registrar el Currículum de un empleado -->
{% block body %}

    <h1>Registrar Currículum</h1>
    <br>
    <br>

    <p>
        Añada los datos del candidato y de su correspondiente Currículum.
    </p>

    <!-- Esto me llama el formulario de Django para registrar los Currículums. -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Registrar Currículum">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de Currículum -->
        <a href="{% url 'lista_curriculums' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancelar
        </a>
        <br>
        <br>
    </form>
{% endblock %}