{% extends "disposicion.html" %}

{% block title %}
    List of Supplemental Income Statements
{% endblock %}

<!-- Lista de todos las ingresos extras de todos los trabajadores -->
{% block body %}

    <h1>List of Supplemental Income Statements</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra unos nuevos ingresos extras -->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar un nuevo ingresos extras -->
    <a href="{% url 'register_supplemental_income_statement' %}" class="text-decoration-none">
<!--        Agregar Nuevos Ingresos Extras-->
        Add a New Supplemental Income Statement
    </a>
    <br>
    <br>

    <!-- Tabla que muestra todos los ingresos extras del personal -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Employee's name
            </th>
            <th>
<!--                Fecha en el que se le hará el Pago-->
                Date in which the payment will be made
            </th>
            <th>
<!--                Ingresos Extras a Agregar a su Salario-->
                Supplemental income to add to their salary
            </th>
            <th>
                View Details
            </th>
            <!-- Esto llama cada ingreso extra registrado en la base de datos -->
            {% for ingreso in ingresos_extras %}
                <tr>
                    <td>
                        {{ingreso.apellidos}}, {{ingreso.nombre}}
                    </td>
                    <td>
                        {{ingreso.fecha_aplicar_ingresos_extras}}
                    </td>
                    <td>
                        {{ingreso.ingresos_extras_totales}} $
                    </td>
                    <td>
                        <a href="{{ingreso.id}}/view-supplemental-income-statement" class="text-decoration-none">
                            View Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->
{% endblock %}