{% extends "disposicion.html" %}

{% block title %}
    Supplemental Income Statement Detailed View
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de los ingresos extras-->
    {% for datos in ingreso_seleccionado %}
        <h1>{{datos.nombre}} {{datos.apellidos}}'s Supplemental Income Statement</h1>
        <br>
        <br>

        <!-- Datos del ingreso extra seleccionado. -->
        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Salario Base-->
        <p><b>Base Salary</b></p>
        <p>{{datos.salario_base}} $</p>

<!--        Fecha en la que se le hará el Pago-->
        <p><b>Date in which the payment will be made</b></p>
        <p>{{datos.fecha_aplicar_ingresos_extras}}</p>

<!--        Ingresos por Horas Extras-->
        <p><b>Income from Extra Hours</b></p>
        <p>{{datos.ingresos_por_horas_extras}} $</p>

<!--        Bonificación Familiar-->
        <p><b>Income from Large Family Bonus</b></p>
        <p>{{datos.bonificacion_familiar}} $</p>

<!--        Aguinaldos-->
        <p><b>Income from Christmas Bonus</b></p>
        <p>{{datos.aguinaldos}} $</p>

<!--        Otros Ingresos Extras-->
        <p><b>Other Supplemental Income</b></p>
        <p>{{datos.otros_ingresos_extras}}</p>

        <hr>

<!--        Ingresos Extras Totales-->
        <h3>Total Supplemental Income</h3>
        <br>
        <p><b>{{datos.ingresos_extras_totales }} $</b></p>
        <br>
        <br>

<!--        Fecha en la que se Registraron los Ingresos Extras-->
        <p><b>Date in which the supplemental income statement was registered</b></p>
        <p>{{datos.timestamp}}</p>

    {% endfor %}

    <!-- Enlace para volver a la lista de ingresos extras-->
    <a href="{% url 'supplemental_income_statements_list' %}" class="text-decoration-none">
<!--        Volver a la lista de ingresos extras-->
        Go back to the list of statements
    </a>

{% endblock %}