{% extends "disposicion.html" %}

{% block title %}
    Vacation Report List
{% endblock %}

<!-- Lista de todos las vacaciones  de todos los trabajadores -->
{% block body %}

    <h1>Vacation Report List</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra unos nuevos vacaciones -->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar unas nuevas vacaciones -->
    <a href="{% url 'register_vacation_report' %}" class="text-decoration-none">
        <!-- Agregar Nuevas Vacaciones -->
        Add a New Vacation Report
    </a>
    <br>
    <br>

    <!-- Tabla que muestra todos los vacaciones del personal -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Name
            </th>
            <th>
                <!-- Fecha de Inicio de Vacaciones -->
                Vacation Start Date
            </th>
            <th>
                <!-- Fecha de Reincorporación Al Trabajo -->
                Vacation End Date
            </th>
            <th>
                <!-- Ver Detalles -->
                View Details
            </th>
            <!-- Esto llama cada vacación registrada en la base de datos -->
            {% for vacacion in vacaciones %}
                <tr>
                    <td>
                        {{vacacion.apellidos}}, {{vacacion.nombre}}
                    </td>
                    <td>
                        {{vacacion.fecha_inicio_vacaciones}}
                    </td>
                    <td>
                        {{vacacion.fecha_fin_vacaciones}}
                    </td>
                    <td>
                        <a href="{{vacacion.id}}/view-vacation-report" class="text-decoration-none">View Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->
{% endblock %}