{% extends "disposicion.html" %}

{% block title %}
    Registrar Vacaciones
{% endblock %}

<!-- Página para registrar el descuento de un empleado -->
{% block body %}

    <h1>Registrar Vacaciones</h1>
    <br>
    <br>

    <p>
        Añada los datos del trabajador y de sus correspondientes vacaciones.
    </p>

    <!-- Esto me llama el formulario de Django para registrar las vacaciones. -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Registrar Vacaciones">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de vacaciones -->
        <a href="{% url 'lista_vacaciones' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancelar
        </a>
        <br>
        <br>
    </form>
{% endblock %}