{% extends "disposicion.html" %}

{% block title %}
    Register a Vacation Report
{% endblock %}

<!-- Página para registrar el descuento de un empleado -->
{% block body %}

    <h1>Register a Vacation Report</h1>
    <br>
    <br>

    <p>
<!--        Añada los datos del trabajador y de sus correspondientes vacaciones.-->
        Fill in the data of the employee that will go on vacation, and the data regarding their vacation.
    </p>

    <!-- Esto me llama el formulario de Django para registrar las vacaciones. -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Vacation Report">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de vacaciones -->
        <a href="{% url 'vacation_report_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>
{% endblock %}