{% extends "disposicion.html" %}

{% block title %}
    Vacación
{% endblock %}

<!-- Vacación del trabajador seleccionado. -->
{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la Vacación. -->
    {% for datos in vacacion_seleccionada %}
        <h1>Vacación de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos de la sanción seleccionada -->
        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Cantidad Inicial de Días de Vacaciones</b></p>
        <p>{{datos.cantidad_inicial_dias_vacaciones}}</p>

        <p><b>Días que se tomará de vacaciones</b></p>
        <p>{{datos.dias_que_se_tomara_vacaciones}}</p>

        <p><b>Días restantes de vacaciones</b></p>
        <p>{{datos.dias_restantes_vacaciones}}</p>

        <p><b>Fecha de inicio de vacaciones</b></p>
        <p>{{datos.fecha_inicio_vacaciones}}</p>

        <p><b>Fecha de Reincorporación al trabajo</b></p>
        <p>{{datos.fecha_fin_vacaciones}}</p>

        <p><b>Firma del trabajador que se ausentará</b></p>
        <img src="{{datos.foto_firma_trabajador.url}}" height="100px">

        <p><b>Firma del encargado que le concedió las vacaciones</b></p>
        <img src="{{datos.foto_firma_encargado_rrhh.url}}" height="100px">


        <p><b>Fecha en la que se registraron las vacaciones</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
    <!-- Enlace para volver a la lista de ingresos extras-->
    <a href="{% url 'lista_vacaciones' %}" class="text-decoration-none">
        Volver a la lista de vacaciones
    </a>
{% endblock %}