{% extends "disposicion.html" %}

{% block title %}
    Vacation Record Detailed View
{% endblock %}

<!-- Vacación del trabajador seleccionado. -->
{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la Vacación. -->
    {% for datos in vacacion_seleccionada %}
        <h1>{{datos.nombre}} {{datos.apellidos}}'s Vacation Record</h1>
        <br>
        <br>

        <!-- Datos de la sanción seleccionada -->
        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Cantidad Inicial de Días de Vacaciones-->
        <p><b>Initial Number of Vacation Days</b></p>
        <p>{{datos.cantidad_inicial_dias_vacaciones}}</p>

<!--        Días que se tomará de vacaciones-->
        <p><b>Number of vacation days that they will take</b></p>
        <p>{{datos.dias_que_se_tomara_vacaciones}}</p>

<!--        Días restantes de vacaciones-->
        <p><b>Remaining Vacation Days</b></p>
        <p>{{datos.dias_restantes_vacaciones}}</p>

<!--        Fecha de inicio de vacaciones-->
        <p><b>Vacation Start Date</b></p>
        <p>{{datos.fecha_inicio_vacaciones}}</p>

<!--        Fecha de Reincorporación al trabajo-->
        <p><b>Vacation End Date</b></p>
        <p>{{datos.fecha_fin_vacaciones}}</p>

<!--        Firma del trabajador que se ausentará-->
        <p><b>Signature of the employee that will be on vacation</b></p>
        <img src="{{datos.foto_firma_trabajador.url}}" height="100px">

<!--        Firma del encargado que le concedió las vacaciones-->
        <p><b>Signature of the manager that authorized their vacation</b></p>
        <img src="{{datos.foto_firma_encargado_rrhh.url}}" height="100px">

<!--        Fecha en la que se registraron las vacaciones-->
        <p><b>Date in which the vacation record was registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
    <!-- Enlace para volver a la lista de ingresos extras-->
    <a href="{% url 'lista_vacaciones' %}" class="text-decoration-none">
<!--        Volver a la lista de vacaciones-->
        Go back to the Vacation Management System
    </a>
{% endblock %}