{% extends "disposicion.html" %}

{% block title %}
    List of Proofs of Leaves of Absence
{% endblock %}

<!-- Lista de todas las justificaciones de permisos de todos los trabajadores -->
{% block body %}

    <h1>List of Proofs of Leaves of Absence</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra una nueva justificaciones-->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar una nueva justificacion -->
    <a href="{% url 'register_proof_of_leave' %}" class="text-decoration-none">
<!--        Agregar Nueva Justificación de Permiso-->
        Add New Proof of Leave of Absence
    </a>
    <br>
    <br>

    <!-- Tabla que muestra todos los cargos -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Name
            </th>
            <th>
<!--                Fecha de inicio de la ausencia-->
                Absence Start Date
            </th>
            <th>
                Absence End Date
            </th>
            <th>
<!--                Detalles de la Justificación-->
                Proof's Details
            </th>
            <!-- Esto llama cada justificación registrada en la base de datos -->
            {% for justificacion in justificaciones %}
                <tr>
                    <td>
                        {{justificacion.apellidos}}, {{justificacion.nombre}}
                    </td>
                    <td>
                        {{justificacion.fecha_inicio_ausencia}}
                    </td>
                    <td>
                        {{justificacion.fecha_reincorporacion}}
                    </td>
                    <td>
                        <a href="{{justificacion.id}}/view-proof-of-leave" class="text-decoration-none">View Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->

{% endblock %}