{% extends "disposicion.html" %}

{% block title %}
    Register A Proof of Leave of Absence
{% endblock %}

<!-- Página para registrar la bonificación familiar del mes actual de un empleado -->
{% block body %}

    <h1>Register A Proof of Leave of Absence</h1>
    <br>
    <br>

<!--        Añada los datos del trabajador y de su correspondiente justificación de permiso.-->
    <p>
        Add the employee's data and the data corresponding to their proof of sickness or any other proof of leave of
        absence.
    </p>

    <!-- Esto me llama el formulario de Django para registrar la justificación. Recuerda agregar "enctype",
    dado a que voy a subir archivos. -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Proof">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de justificaciones -->
        <a href="{% url 'lista_justificaciones' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>
{% endblock %}