{% extends "disposicion.html" %}

{% block title %}
    Ver Justificación de un Permiso
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la Justificacion -->
    {% for datos in justificacion_seleccionada %}
        <h1>Justificación del Permiso de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos de la justificación seleccionada.

        Tengo que usar el atributo “download” de un <a> en HTML para poder descargar un archivo.
        -->
        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Fecha de Inicio de la Ausencia</b></p>
        <p>{{datos.fecha_inicio_ausencia}}</p>

        <p><b>Fecha de Reincorporación</b></p>
        <p>{{datos.fecha_reincorporacion}}</p>

        <p><b>Archivo con la Justificación del Permiso Escaneada</b></p>
        <a href="{{datos.archivo_con_justificacion.url}}" download>
            Descargar Justificación del Permiso
        </a>
        <br>
        <br>

        <p><b>¿Existe Discrepancia Entre el Permiso Y la Justificación?</b></p>
        <p>{{datos.existe_discrepancia_permiso_y_justificacion}}</p>

        <p><b>Firma del Encargado Que Reviso la Justificación</b></p>
        <img src="{{datos.foto_firma_encargado_rrhh.url}}" height="100px">

        <p><b>Fecha en la que se registró la bonificación</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de justificaciones-->
    <a href="{% url 'lista_justificaciones' %}" class="text-decoration-none">
        Volver a la lista de justificaciones
    </a>

{% endblock %}