{% extends "disposicion.html" %}

{% block title %}
    Proof of Leave of Absence's Detailed View
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la Justificacion -->
    {% for datos in justificacion_seleccionada %}
        <h1>Proof of {{datos.nombre}} {{datos.apellidos}}'s Leave of Absence</h1>
        <br>
        <br>

        <!-- Datos de la justificación seleccionada.

        Tengo que usar el atributo “download” de un <a> en HTML para poder descargar un archivo.
        -->
        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Fecha de Inicio de la Ausencia-->
        <p><b>Absence Start Date</b></p>
        <p>{{datos.fecha_inicio_ausencia}}</p>

<!--        Fecha de Reincorporación-->
        <p><b>Absence End Date</b></p>
        <p>{{datos.fecha_reincorporacion}}</p>

<!--        Archivo con la Justificación del Permiso Escaneada-->
        <p><b>File With the Scanned Proof of Leave of Absence</b></p>
        <a href="{{datos.archivo_con_justificacion.url}}" download>
<!--            Descargar Justificación del Permiso-->
            Download Proof of Leave
        </a>
        <br>
        <br>

<!--        ¿Existe Discrepancia Entre el Permiso Y la Justificación?-->

        <p><b>Is there a discrepancy between the permission to leave and the proof of leave?</b></p>
        <p>{{datos.existe_discrepancia_permiso_y_justificacion}}</p>

<!--        Firma del Encargado Que Reviso la Justificación-->

        <p><b>Signature of the Manager That Checked the Proof</b></p>
        <img src="{{datos.foto_firma_encargado_rrhh.url}}" height="100px">

<!--        Fecha en la que se registró la justificación -->
        <p><b>Date in which the proof was registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de justificaciones-->
    <a href="{% url 'lista_justificaciones' %}" class="text-decoration-none">
<!--        Volver a la lista de justificaciones-->
        Go Back To the List of Proofs
    </a>

{% endblock %}