{% extends "disposicion.html" %}

<!-- Puedo cambiarle el título de la pestaña a una página agregándole el tag “block title” a esa página. -->
{% block title %}
    Job Profile List
{% endblock %}

<!-- Lista de todas las bonificaciones familiares para todos los trabajadores -->
{% block body %}

    <h1>Job Profile List</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario regista una nueva bonificacion familiar -->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}


    <!-- Enlace para agregar un nuevo cargo -->
    <a href="{% url 'registrar_perfil_cargo' %}" class="text-decoration-none">Add A New Job Profile</a>
    <br>
    <br>

    <!-- Tabla que muestra todos los cargos -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Job Profile Name
            </th>
            <th>
                Job Profile Details
            </th>
            <!-- Esto llama cada bonificacion registrada en la base de datos -->
            {% for perfil in perfiles %}
                <tr>
                    <td>
                        {{perfil.nombre_del_cargo}}
                    </td>
                    <td>
                        <a href="{{perfil.id}}/ver-perfil-cargo" class="text-decoration-none">View Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->

{% endblock %}