{% extends "disposicion.html" %}

{% block title %}
    Register A Job Profile
{% endblock %}

<!-- Registrar un permiso -->
{% block body %}

    <h1>Register A Job Profile</h1>
    <br>
    <br>

<!--    <p>-->
<!--        Añada los datos del nuevo perfil de cargo que desea registrar.-->
<!--    </p>-->
    <p>
        Fill in the data of the new job profile that you wish to register.
    </p>

    <!-- Esto me llama el formulario de Django para registrar permisos. -->
    <form method="post">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Profile">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de sanciones -->
        <a href="{% url 'job_profile_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>

    </form>
{% endblock %}