{% extends "disposicion.html" %}

{% block title %}
    Ver Perfil de Cargo
{% endblock %}

{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del Cargo -->
    {% for datos in cargo_seleccionado %}
        <h1>Perfil de {{datos.nombre_del_cargo}} </h1>
        <br>
        <br>

        <!-- Datos del perfil seleccionado -->
        <p><b>Nombre del Perfil de Cargo</b></p>
        <p>{{datos.nombre_del_cargo}}</p>

        <p><b>Experiencia Laboral Requerida</b></p>
        <p>{{datos.experiencia_requerida}}</p>

        <p><b>Conocimientos Técnicos Requeridos</b></p>
        <p>{{datos.conocimientos_requeridos}}</p>

        <p><b>Nivel de Estudios</b></p>
        <p>{{datos.nivel_de_estudios}}</p>

        <p><b>Rango Salarial</b></p>
        <p>{{datos.rango_salarial}}</p>

        <p><b>Otros Requisitos</b></p>
        <p>{{datos.otros_requisitos}}</p>

        <p><b>¿El candidato necesita tener auto propio?</b></p>
        <p>{{datos.requiere_tener_auto_propio}}</p>

        <p><b>Fecha en la que se registró el perfil de cargo</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

    <!-- Enlace para volver a la lista de cargos-->
    <a href="{% url 'lista_perfiles_cargos' %}" class="text-decoration-none">
        Volver a la lista de perfiles de cargo
    </a>

{% endblock %}

