{% extends "disposicion.html" %}

<!-- El extends es como el require de PHP. Básicamente me llama el archivo HTML "disposicion.html", y me lo carga (fuente: 
https://www.w3schools.com/django/django_tags_extends.php .) -->

<!-- Esto me carga el CSS y el JS almacenado en la carpeta "static" -->
{% load static %}

<!-- Esto me llamará todo el código de disposicion.html, para que así tenga el Boostrap, la barra de navegación, y el footer. Todo
lo que escriba dentro del tag "block body" aparecerá en la página de inicio/Home. -->
{% block body %}
    <div>
<!--        <h1>Sistema de Recursos Humanos</h1>-->
        <h1>Human Resources System</h1>
    </div>
    <br>
    <br>

    <!-- Texto que le aparece al usuario si no está logueado.

    Las etiquetas "url" redirigen a los usuarios a las páginas que estén asociadas al nombre del view que ahí
    aparecen (por ejemplo, "registrar" redirige a registrar.html, ya que está asociado al view registrar() ).

    El decorator que debo usar en los archivos HTML para verificar si un usuario está logueado es
    “user.is_authenticated” (fuente: https://docs.djangoproject.com/en/dev/topics/auth/default/ .)
    -->
    <div>


        <!-- Esto solo aparecerá si inicias sesión -->
        {% if user.is_authenticated %}

<!--            <p>-->
<!--                ¡Bienvenido, user.username!-->
<!--            </p>-->

            <p>
                Welcome, {{user.username}}!
            </p>
            <p>
                Here, you'll get access to all the features of the company's human resources system.
            </p>

<!--            <p>-->
<!--                Aquí tendrás acceso a todas las funciones del sistema de recursos humanos de la empresa.-->
<!--            </p>-->

            <p>
                Here, you'll see all the available features on this system. Click on the functionality that you wish to
                use to begin to use it.
            </p>
<!--            <p>-->
<!--                Aquí podrás ver todas las funciones disponibles en este sistema. Haz clic en la función que desees para-->
<!--                empezar a usarla.-->
<!--            </p>-->

            <!-- Aquí estarán todos los enlaces a las 18 funciones de recursos humanos de la web app.

            El "list style type: none" elimina los puntos de las listas creadas con <ul> (fuente:
            https://www.tutorialspoint.com/How-to-create-an-unordered-list-without-bullets-in-HTML .)
            -->
            <div>
                <ul style="list-style-type:none">
                    <li>
                        <a href="{% url 'registrar_curriculum' %}">Submit a Resume</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'lista_perfiles_cargos' %}">Mantener Perfil de Cargos</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_contrato' %}">Generate Contracts</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'lista_dias_asistencia' %}">Register Attendance</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_justificacion_permiso' %}">Registrar Justificación de un Permiso</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_sancion' %}">Register a Sanction</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_descuentos' %}">Register Discounts</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_ingresos_extras' %}">Register Supplemental Income</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_permiso' %}">Registrar Permisos</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'lista_legajos' %}">Register an Employee's Dossier</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_planillas_ministerio_trabajo' %}">
                            Generate Department of Labor's Forms
                        </a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_ips' %}">Generar Planilla del IPS</a>
                    </li>
                    <br>
                    <!-- This will show all the info about the employee's payroll -->
                    <li>
                        <a href="{% url 'lista_liquidacion_salarios' %}">Manage Payroll</a>
                    </li>
                    <br>
                    <!-- This is when an employee leaves the company (due to quitting or being fired) -->
                    <li>
                        <a href="{% url 'lista_liquidacion_personal' %}">Liquidación del Personal</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_aguinaldos' %}">Generate Christmas Bonus' Forms</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_bonificacion_familiar' %}">Register a Large Family Bonus</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'lista_vacaciones' %}">Register a Vacation</a>
                    </li>
                    <br>
                    <li>
                        <a href="{% url 'registrar_informe_web' %}">Generate Web Reports</a>
                    </li>
                </ul>

            </div>


        <!-- Si no inicias sesión, esto te aparecerá -->
        {% else %}
<!--            <p>-->
<!--                Bienvenido al sistema de administración de recursos humanos de la empresa.-->
<!--            </p>-->
            <p>
                Welcome to the company's human resource management system.
            </p>

<!--            <p>-->
<!--                Por favor, <a href=" url 'registrar' ">regístrese</a> para poder usar el sitio web.-->
<!--            </p>-->

            <p>
                Please, <a href="{% url 'registrar' %}">sign up</a> to be able to use the website.
            </p>

<!--            <p>-->
<!--                Si ya posee una cuenta, por favor, <a href=" url 'iniciar_sesion' ">inicie sesión</a> para utilizar la aplicación-->
<!--                web.-->
<!--            </p>-->

            <p>
                If you already have an account, please,  <a href="{% url 'iniciar_sesion' %}">log in</a> to use the
                web app.
            </p>
        {% endif %}
    </div>



{% endblock %}