{% extends "disposicion.html" %}

{% block title %}
    Register an Annual Web Report
{% endblock %}

<!-- Registrar una Informe Web -->
{% block body %}

    <h1>Register an Annual Web Report</h1>
    <br>
    <br>

    <p>
<!--        Registre el Informe Web anual de la empresa del año actual.-->
        Register the company's annual web report for the current year.
    </p>
    <br>
    <br>

    <!-- Esto me llama el formulario de Django para registrar Informe Web.

    Agregaré "enctype" al formulario para que me permita subir imagenes.
    -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}
        <br>
        <br>

        <input class="btn btn-primary" type="submit" value="Register Report">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de planillas de Informe Web -->
        <a href="{% url 'lista_informes' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>


    </form>
{% endblock %}