{% extends "disposicion.html" %}

<!-- Puedo cambiarle el título de la pestaña a una página agregándole el tag “block title” a esa página. -->
{% block title %}
    Lista de Permisos del Personal
{% endblock %}

<!-- Lista de todas los permisos para todos los trabajadores -->
{% block body %}

    <h1>Lista de Permisos del Personal</h1>
    <br>
    <br>

    <!-- Mensaje de confirmación que aparece si el usuario registra un nuevo permiso -->
    {% for msg in messages %}
        <p style="color: green;">{{msg}}</p>
    {% endfor %}

    <!-- Enlace para agregar un nuevo permiso -->
    <a href="{% url 'registrar_permiso' %}" class="text-decoration-none">Agregar Nueva Planilla de Permiso</a>
    <br>
    <br>

    <!-- Tabla que muestra todas las bonificaciones -->
    <table>
        <tbody>
            <!-- Esto le agregará los títulos a las tablas -->
            <th>
                Nombre
            </th>
            <th>
                Cédula
            </th>
            <th>
                Planilla de Permiso Para Imprimir
            </th>
            <!-- Esto llama cada permiso registrado en la base de datos -->
            {% for permiso in permisos %}
                <tr>
                    <td>
                        {{permiso.apellidos}}, {{permiso.nombre}}
                    </td>
                    <td>
                        {{permiso.cedula}}
                    </td>
                    <td>
                        <a href="{{permiso.id}}/ver-permiso" class="text-decoration-none">
                            Ver detalles en vista para imprimir
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    <!-- Fin de la tabla -->

{% endblock %}