{% extends "disposicion.html" %}

{% block title %}
    Register a Permission to Leave
{% endblock %}

<!-- Registrar un permiso -->
{% block body %}

    <h1>Register a Permission to Leave</h1>
    <br>
    <br>

    <p>
<!--        Añada los datos del trabajador y de su correspondiente permiso.-->
        Fill in the employee's data, and the data corresponding to their respective permission to leave.
    </p>

    <!-- Esto me llama el formulario de Django para registrar permisos.

    Agregaré "enctype" al formulario para que me permita subir imagenes.
    -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Permission">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de sanciones -->
        <a href="{% url 'list_of_permissions' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>


    </form>
{% endblock %}