{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Permission to Leave's Detailed View
{% endblock %}

<!-- Permiso del trabajador seleccionado en formato para imprimir (sin navbar ni footer). -->
{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título del permiso.

    No pondré el enlace a la página anterior para que no se vea en la planilla a imprimir.

    Tenia que poner “.url” al final de “datos.foto_firma_trabajador” para que me imprimiera la imagen -->
    {% for datos in permiso_seleccionado %}
        <h1>{{datos.nombre}} {{datos.apellidos}}'s Permission to Leave</h1>
        <br>
        <br>

        <!-- Datos de la sanción seleccionada -->
        <p><b>Name</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Last Name</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Fecha de inicio de ausencia-->
        <p><b>Absence start date</b></p>
        <p>{{datos.fecha_inicio_ausencia}}</p>

<!--        Fecha de reincorporación-->
        <p><b>Absence end date</b></p>
        <p>{{datos.fecha_reincorporacion}}</p>

<!--        Motivo por el que se va a ausentar-->
        <p><b>Reason for the absence</b></p>
        <p>{{datos.motivo_ausencia}}</p>

<!--        ¿Recibirá un descuento por el tiempo en el que estuvo ausente?-->
        <p><b>Will they receive a discount for being absent from work?</b></p>
        <p>{{datos.recibira_descuento}}</p>

<!--        Descuento que se le aplicará (de ser positiva la respuesta anterior).-->
        <p><b>Discount that will be applied (if the previous answer was "Yes")</b></p>
        <p>{{datos.descuento}} $</p>

<!--        Firma del trabajador que se ausentará-->
        <p><b>Signature of the employee that will be absent</b></p>
        <img src="{{datos.foto_firma_trabajador.url}}" height="100px">

<!--        Firma del encargado que le concedió el permiso-->
        <p><b>Signature of the manager that game them the permission to leave</b></p>
        <img src="{{datos.foto_firma_encargado_rrhh.url}}" height="100px">


        <p><b>Date in which the permission was registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}



{% endblock %}