{% extends "disposicion.html" %}

{% block title %}
    Register a Social Security Form
{% endblock %}

<!-- Página para registrar el IPS de un empleado -->
{% block body %}

    <h1>Register a Social Security Form</h1>
    <br>
    <br>

    <p>
<!--        Añada los datos del trabajador y de su correspondiente planilla IPS.-->
        Fill in the employee's data, and the data regarding their corresponding Social Security number.
    </p>

    <!-- Esto me llama el formulario de Django para registrar los IPS. -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Register Form">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de planillas IPS -->
        <a href="{% url 'lista_ips' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>
    </form>
{% endblock %}