{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Planilla del IPS
{% endblock %}

<!-- Planilla del IPS del trabajador seleccionado en formato para imprimir (sin navbar ni footer). -->
{% block body %}

    <!-- Esto pondrá el nombre del trabajador en el título de la Planilla del IPS.

    No pondré el enlace a la página anterior para que no se vea en la planilla a imprimir.

    Tenia que poner “.url” al final de “datos.foto_firma_trabajador” para que me imprimiera la imagen -->
    {% for datos in planilla_seleccionada %}
        <h1>Planilla del IPS de {{datos.nombre}} {{datos.apellidos}}</h1>
        <br>
        <br>

        <!-- Datos de la planilla seleccionada -->
        <p><b>Numero de orden</b></p>
        <p>{{datos.numero_de_orden}} de 20</p>

        <p><b>Nombre</b></p>
        <p>{{datos.nombre}}</p>

        <p><b>Apellidos</b></p>
        <p>{{datos.apellidos}}</p>

        <p><b>Número de asegurado</b></p>
        <p>{{datos.numero_de_asegurado}}</p>

        <p><b>Cédula de identidad</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Salario imponible</b></p>
        <p>{{datos.salario_imponible}} ₲</p>

        <p><b>Categoría</b></p>
        <p>{{datos.categoria}}</p>

        <p><b>Código*</b></p>
        <p>{{datos.codigo}}</p>

        <p><b>Días trabajados en el mes anterior</b></p>
        <p>{{datos.dias_trabajados_mes_anterior}}</p>

        <p><b>Días trabajados en el mes actual</b></p>
        <p>{{datos.dias_trabajados_mes_actual}}</p>

        <p><b>Reconocimiento de Servicios de Anteriores a 1974</b></p>
        <p>{{datos.reconocimiento_servicios_anteriores}}</p>

        <p><b>Firma del encargado que le creó la Planilla del IPS</b></p>
        <img src="{{datos.firma_encargado_rrhh.url}}" height="100px">

        <p><b>Fecha en la que se registró la Planilla del IPS</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}

<br>
<br>
<p>
    * Leyenda de los códigos: 1: Entrada, 2: Salida, 3: Vacaciones, 4: Reposo, 5: Indemnización, y 6: Otras Causas.
</p>


{% endblock %}