{% extends "disposicion.html" %}

{% block title %}
    Register a Payroll Statement
{% endblock %}

<!-- Registrar una Liquidación de Salarios -->
{% block body %}

    <h1>Register a Payroll Statement</h1>
    <br>
    <br>

    <p>
<!--        Aquí puedes registrar el pago del salario de un trabajador.-->
        Here, you'll be able to create an employee's payroll report, and calculate their wages.
    </p>

    <!-- Esto me llama el formulario de Django para registrar Liquidación de Salarios.

    Agregaré "enctype" al formulario para que me permita subir imagenes.
    -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{formulario.as_p}}

        <input class="btn btn-primary" type="submit" value="Calculate Wages">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de planillas de liquidacion de Salarios -->
        <a href="{% url 'payroll_statement_list' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>


    </form>
{% endblock %}