{% extends "disposicion.html" %}

{% block title %}
    Register a Set of Department of Labor Forms
{% endblock %}

<!-- Registrar Planillas del Ministerio de Trabajo -->
{% block body %}

    <h1>Register a Set of Department of Labor Forms</h1>
    <br>
    <br>

    <p>
<!--        Registre las tres Planillas del Ministerio de Trabajo.-->
        Register the three Department of Labor forms using data from the current date.
    </p>
    <br>
    <br>

    <!-- Esto me llama el formulario de Django para registrar Planillas del Ministerio de Trabajo.

    -->
    <form method="post">
        {% csrf_token %}

        <!-- Formulario de Empleados -->
        <h3>Employees Form</h3>
        <br>
        <br>
        {{formulario_empleados.as_p}}

        <hr>

        <!-- Formulario de Sueldos -->
        <h3>Salary Form</h3>
        <br>
        <br>
        {{formulario_sueldos.as_p}}

        <hr>

        <!-- Formularios de Resumen General -->
        <h3>Employee Data Summary Form</h3>
        <br>
        <br>

        <!-- Orden 1 -->
        <h5>Order 1: Number of employees</h5>
        <br>
        <br>
        {{formulario_orden_1.as_p}}

        <hr>

        <!-- Orden 2 -->
        <h5>Order 2: Hours worked</h5>
        <br>
        <br>
        {{formulario_orden_2.as_p}}

        <hr>

        <!-- Orden 3 -->
        <h5>Order 3: Salaries</h5>
        <br>
        <br>
        {{formulario_orden_3.as_p}}

        <hr>

        <!-- Orden 4 -->
        <h5>Order 4: Number of people hired</h5>
        <br>
        <br>
        {{formulario_orden_4.as_p}}

        <hr>

        <!-- Orden 5 -->
        <h5>Order 5: Number of people who left the company</h5>
        <br>
        <br>
        {{formulario_orden_5.as_p}}


        <br>
        <br>

        <input class="btn btn-primary" type="submit" value="Register Forms">  <!-- Botón de enviar/submit -->

        <!-- Esto regresará al usuario a la lista de Planillas del Ministerio de Trabajo -->
        <a href="{% url 'lista_ministerio_trabajo' %}" class="text-decoration-none" style="padding-left: 1rem;">
            Cancel
        </a>
        <br>
        <br>


    </form>
{% endblock %}