{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Employee Data Summary Form Detailed View
{% endblock %}

{% block body %}


    <!-- Esto pondrá el Year del informe en el título de Planilla de Resumen General de Personas Ocupadas -->
    {% for datos in planilla_seleccionada %}
        <h1>Employee Data Summary Form from {{datos.timestamp}}</h1>
        <br>
        <br>

        <!-- Datos de la Planilla de Resumen General de Personas Ocupadas seleccionada.
        -->
        <!-- Orden 1: Cantidad de empleados -->
        <h3>Order 1: Number of employees</h3>
        <br>
        <br>

        <p><b>Employer Identification Number (EIN)</b></p>
        <p>{{datos.numero_patronal_orden_1}}</p>

        <p><b>Year</b></p>
        <p>{{datos.anno_orden_1}}</p>

<!--        Male managers or bosses-->
        <p><b>Male managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_varones_orden_1}}</p>

<!--        Female managers or bosses-->
        <p><b>Female managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_mujeres_orden_1}}</p>

<!--        Male assistants-->
        <p><b>Male assistants</b></p>
        <p>{{datos.empleados_varones_orden_1}}</p>

<!--        Female assistants-->
        <p><b>Female assistants</b></p>
        <p>{{datos.empleados_mujeres_orden_1}}</p>

<!--        Male laborers-->
        <p><b>Male laborers</b></p>
        <p>{{datos.obreros_hombres_orden_1}}</p>

<!--        Female laborers-->
        <p><b>Female laborers</b></p>
        <p>{{datos.obreras_mujeres_orden_1}}</p>

<!--        Underage males-->
        <p><b>Underage males</b></p>
        <p>{{datos.menores_varones_orden_1}}</p>

<!--        Underage females-->
        <p><b>Underage females</b></p>
        <p>{{datos.menores_mujeres_orden_1}}</p>

        <p><b>Order</b></p>
        <p>{{datos.orden_1}}</p>

        <hr>
        <br>
        <br>

        <!-- Orden 2: Horas trabajadas -->
        <h3>Order 2: Hours worked</h3>
        <br>
        <br>

        <p><b>Employer Identification Number (EIN)</b></p>
        <p>{{datos.numero_patronal_orden_2}}</p>

        <p><b>Year</b></p>
        <p>{{datos.anno_orden_2}}</p>

<!--        Male managers or bosses-->
        <p><b>Male managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_varones_orden_2}}</p>

        <p><b>Female managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_mujeres_orden_2}}</p>

        <p><b>Male assistants</b></p>
        <p>{{datos.empleados_varones_orden_2}}</p>

        <p><b>Female assistants</b></p>
        <p>{{datos.empleados_mujeres_orden_2}}</p>

        <p><b>Male laborers</b></p>
        <p>{{datos.obreros_hombres_orden_2}}</p>

        <p><b>Female laborers</b></p>
        <p>{{datos.obreras_mujeres_orden_2}}</p>

        <p><b>Underage males</b></p>
        <p>{{datos.menores_varones_orden_2}}</p>

        <p><b>Underage females</b></p>
        <p>{{datos.menores_mujeres_orden_2}}</p>

        <p><b>Order</b></p>
        <p>{{datos.orden_2}}</p>

        <hr>
        <br>
        <br>

        <!-- Orden 3: Sueldos o jornales -->
        <h3>Order 3: Salaries</h3>
        <br>
        <br>

        <p><b>Employer Identification Number (EIN)</b></p>
        <p>{{datos.numero_patronal_orden_3}}</p>

        <p><b>Year</b></p>
        <p>{{datos.anno_orden_3}}</p>

        <p><b>Male managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_varones_orden_3}}</p>

        <p><b>Female managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_mujeres_orden_3}}</p>

        <p><b>Male assistants</b></p>
        <p>{{datos.empleados_varones_orden_3}}</p>

        <p><b>Female assistants</b></p>
        <p>{{datos.empleados_mujeres_orden_3}}</p>

        <p><b>Male laborers</b></p>
        <p>{{datos.obreros_hombres_orden_3}}</p>

        <p><b>Female laborers</b></p>
        <p>{{datos.obreras_mujeres_orden_3}}</p>

        <p><b>Underage males</b></p>
        <p>{{datos.menores_varones_orden_3}}</p>

        <p><b>Underage females</b></p>
        <p>{{datos.menores_mujeres_orden_3}}</p>

        <p><b>Order</b></p>
        <p>{{datos.orden_3}}</p>

        <hr>
        <br>
        <br>

        <!-- Orden 4: Cantidad de ingresos -->
        <h3>Order 4: Number of people hired</h3>
        <br>
        <br>

        <p><b>Employer Identification Number (EIN)</b></p>
        <p>{{datos.numero_patronal_orden_4}}</p>

        <p><b>Year</b></p>
        <p>{{datos.anno_orden_4}}</p>

        <p><b>Male managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_varones_orden_4}}</p>

        <p><b>Female managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_mujeres_orden_4}}</p>

        <p><b>Male assistants</b></p>
        <p>{{datos.empleados_varones_orden_4}}</p>

        <p><b>Female assistants</b></p>
        <p>{{datos.empleados_mujeres_orden_4}}</p>

        <p><b>Male laborers</b></p>
        <p>{{datos.obreros_hombres_orden_4}}</p>

        <p><b>Female laborers</b></p>
        <p>{{datos.obreras_mujeres_orden_4}}</p>

        <p><b>Underage males</b></p>
        <p>{{datos.menores_varones_orden_4}}</p>

        <p><b>Underage females</b></p>
        <p>{{datos.menores_mujeres_orden_4}}</p>

        <p><b>Order</b></p>
        <p>{{datos.orden_4}}</p>

        <hr>
        <br>
        <br>

        <!-- Orden 5: Cantidad de egresos -->
        <h3>Order 5: Number of people who left the company</h3>
        <br>
        <br>

        <p><b>Employer Identification Number (EIN)</b></p>
        <p>{{datos.numero_patronal_orden_5}}</p>

        <p><b>Year</b></p>
        <p>{{datos.anno_orden_5}}</p>

        <p><b>Male managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_varones_orden_5}}</p>

        <p><b>Female managers or bosses</b></p>
        <p>{{datos.supervisores_o_jefes_mujeres_orden_5}}</p>

        <p><b>Male assistants</b></p>
        <p>{{datos.empleados_varones_orden_5}}</p>

        <p><b>Female assistants</b></p>
        <p>{{datos.empleados_mujeres_orden_5}}</p>

        <p><b>Male laborers</b></p>
        <p>{{datos.obreros_hombres_orden_5}}</p>

        <p><b>Female laborers</b></p>
        <p>{{datos.obreras_mujeres_orden_5}}</p>

        <p><b>Underage males</b></p>
        <p>{{datos.menores_varones_orden_5}}</p>

        <p><b>Underage females</b></p>
        <p>{{datos.menores_mujeres_orden_5}}</p>

        <p><b>Order</b></p>
        <p>{{datos.orden_5}}</p>

        <hr>
        <br>
        <br>

<!--        Fecha en la que se registró la Planilla de Resumen General de Personas Ocupadas-->
        <p><b>Date in which the Employee Data Summary Form was registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
{% endblock %}