{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Salary Form Detailed View
{% endblock %}

{% block body %}


    <!-- Esto pondrá el año del informe en el título de Planilla de Sueldos y Jornales -->
    {% for datos in planilla_seleccionada %}
        <h1>Salary Form from {{datos.timestamp}}</h1>
        <br>
        <br>

        <!-- Datos de la Planilla de Sueldos y Jornales seleccionada.
        -->
<!--        Número patronal-->
        <p><b>Employer Identification Number (EIN)</b></p>
        <p>{{datos.numero_patronal}}</p>

        <p><b>ID Number</b></p>
        <p>{{datos.cedula}}</p>

<!--        Forma de pago-->
        <p><b>Pay frequency</b></p>
        <p>{{datos.forma_de_pago}}</p>

<!--        Importe unitario-->
        <p><b>Salary per day</b></p>
        <p>{{datos.importe_unitario}}</p>

        <!-- Horas trabajadas y salario percibido en el año -->
        <p><b>Hours worked in January</b></p>
        <p>{{datos.horas_trabajadas_enero}}</p>
        <p><b>Salary received in January</b></p>
        <p>{{datos.salario_percibido_enero}}</p>

        <p><b>Hours worked in February</b></p>
        <p>{{datos.horas_trabajadas_febrero}}</p>
        <p><b>Salary received in February</b></p>
        <p>{{datos.salario_percibido_febrero}}</p>

        <p><b>Hours worked in March</b></p>
        <p>{{datos.horas_trabajadas_marzo}}</p>
        <p><b>Salary received in March</b></p>
        <p>{{datos.salario_percibido_marzo}}</p>

        <p><b>Hours worked in April</b></p>
        <p>{{datos.horas_trabajadas_abril}}</p>
        <p><b>Salary received in April</b></p>
        <p>{{datos.salario_percibido_abril}}</p>

        <p><b>Hours worked in May</b></p>
        <p>{{datos.horas_trabajadas_mayo}}</p>
        <p><b>Salary received in May</b></p>
        <p>{{datos.salario_percibido_mayo}}</p>

        <p><b>Hours worked in June</b></p>
        <p>{{datos.horas_trabajadas_junio}}</p>
        <p><b>Salary received in June</b></p>
        <p>{{datos.salario_percibido_junio}}</p>

        <p><b>Hours worked in July</b></p>
        <p>{{datos.horas_trabajadas_julio}}</p>
        <p><b>Salary received in July</b></p>
        <p>{{datos.salario_percibido_julio}}</p>

        <p><b>Hours worked in August</b></p>
        <p>{{datos.horas_trabajadas_agosto}}</p>
        <p><b>Salary received in August</b></p>
        <p>{{datos.salario_percibido_agosto}}</p>

        <p><b>Hours worked in September</b></p>
        <p>{{datos.horas_trabajadas_septiembre}}</p>
        <p><b>Salary received in September</b></p>
        <p>{{datos.salario_percibido_septiembre}}</p>

        <p><b>Hours worked in October</b></p>
        <p>{{datos.horas_trabajadas_octubre}}</p>
        <p><b>Salary received in October</b></p>
        <p>{{datos.salario_percibido_octubre}}</p>

        <p><b>Hours worked in November</b></p>
        <p>{{datos.horas_trabajadas_noviembre}}</p>
        <p><b>Salary received in November</b></p>
        <p>{{datos.salario_percibido_noviembre}}</p>

        <p><b>Hours worked in December</b></p>
        <p>{{datos.horas_trabajadas_diciembre}}</p>
        <p><b>Salary received in December</b></p>
        <p>{{datos.salario_percibido_diciembre}}</p>    <!-- Fin de Hours worked in y Salary received en el año -->

<!--        Horas extras 50% durante el año-->
        <p><b>Fifty percent of extra hours worked during the year</b></p>
        <p>{{datos.horas_extras_50_por_ciento_durante_anno}}</p>

<!--        Salario percibido por horas extras 50% año-->
        <p><b>Fifty percent of salary received from working extra hours during the year</b></p>
        <p>{{datos.salario_percibido_horas_extras_50_por_ciento_anno}}</p>

<!--        Horas extras 100% durante el año-->
        <p><b>One hundred percent of extra hours worked during the year</b></p>
        <p>{{datos.horas_extras_100_por_ciento_durante_anno}}</p>

        <p><b>One hundred percent of salary received from working extra hours</b></p>
        <p>{{datos.salario_percibido_horas_extras_100_por_ciento_anno}}</p>

<!--        Aguinaldo-->
        <p><b>Christmas bonus</b></p>
        <p>{{datos.aguinaldo}}</p>

<!--        Beneficios-->
        <p><b>Severance pay</b></p>
        <p>{{datos.beneficios}}</p>

<!--        Bonificaciones Familiares-->
        <p><b>Large Family Bonus</b></p>
        <p>{{datos.bonificaciones}}</p>

<!--        Vacaciones-->
        <p><b>Accrued vacations</b></p>
        <p>{{datos.vacaciones}}</p>

<!--        Horas trabajadas incluyendo horas extras-->
        <p><b>Hours worked including extra hours</b></p>
        <p>{{datos.horas_trabajadas_incluyendo_horas_extras}}</p>

<!--        Total recibido en concepto de salario sin ingresos extras-->
        <p><b>Total amount received from salary without supplemental income</b></p>
        <p>{{datos.total_recibido_en_concepto_de_salario}}</p>

<!--        Total percibido, incluyendo aguinaldo, beneficios, bonificaciones, y vacaciones-->
        <p><b>Total amount received, including Christmas bonus, severance pay, larga family bonus, and vacations</b></p>
        <p>{{datos.total_incluyendo_ingresos_extras}}</p>

<!--        Fecha en la que se registró la Planilla de Sueldos y Jornales-->
        <p><b>Date in which the Salary Form was registered</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
{% endblock %}