{% extends "disposicion-para-impresoras.html" %}

{% block title %}
    Ver Planilla de Sueldos y Jornales
{% endblock %}

{% block body %}


    <!-- Esto pondrá el año del informe en el título de Planilla de Sueldos y Jornales -->
    {% for datos in planilla_seleccionada %}
        <h1>Planilla de Sueldos y Jornales del {{datos.timestamp}}</h1>
        <br>
        <br>

        <!-- Datos de la Planilla de Sueldos y Jornales seleccionada.
        -->
        <p><b>Número patronal</b></p>
        <p>{{datos.numero_patronal}}</p>

        <p><b>Cédula</b></p>
        <p>{{datos.cedula}}</p>

        <p><b>Forma de pago</b></p>
        <p>{{datos.forma_de_pago}}</p>

        <p><b>Importe unitario</b></p>
        <p>{{datos.importe_unitario}}</p>

        <!-- Horas trabajadas y salario percibido en el año -->
        <p><b>Horas trabajadas enero</b></p>
        <p>{{datos.horas_trabajadas_enero}}</p>
        <p><b>Salario percibido enero</b></p>
        <p>{{datos.salario_percibido_enero}}</p>

        <p><b>Horas trabajadas febrero</b></p>
        <p>{{datos.horas_trabajadas_febrero}}</p>
        <p><b>Salario percibido febrero</b></p>
        <p>{{datos.salario_percibido_febrero}}</p>

        <p><b>Horas trabajadas marzo</b></p>
        <p>{{datos.horas_trabajadas_marzo}}</p>
        <p><b>Salario percibido marzo</b></p>
        <p>{{datos.salario_percibido_marzo}}</p>

        <p><b>Horas trabajadas abril</b></p>
        <p>{{datos.horas_trabajadas_abril}}</p>
        <p><b>Salario percibido abril</b></p>
        <p>{{datos.salario_percibido_abril}}</p>

        <p><b>Horas trabajadas mayo</b></p>
        <p>{{datos.horas_trabajadas_mayo}}</p>
        <p><b>Salario percibido mayo</b></p>
        <p>{{datos.salario_percibido_mayo}}</p>

        <p><b>Horas trabajadas junio</b></p>
        <p>{{datos.horas_trabajadas_junio}}</p>
        <p><b>Salario percibido junio</b></p>
        <p>{{datos.salario_percibido_junio}}</p>

        <p><b>Horas trabajadas julio</b></p>
        <p>{{datos.horas_trabajadas_julio}}</p>
        <p><b>Salario percibido julio</b></p>
        <p>{{datos.salario_percibido_julio}}</p>

        <p><b>Horas trabajadas agosto</b></p>
        <p>{{datos.horas_trabajadas_agosto}}</p>
        <p><b>Salario percibido agosto</b></p>
        <p>{{datos.salario_percibido_agosto}}</p>

        <p><b>Horas trabajadas septiembre</b></p>
        <p>{{datos.horas_trabajadas_septiembre}}</p>
        <p><b>Salario percibido septiembre</b></p>
        <p>{{datos.salario_percibido_septiembre}}</p>

        <p><b>Horas trabajadas octubre</b></p>
        <p>{{datos.horas_trabajadas_octubre}}</p>
        <p><b>Salario percibido octubre</b></p>
        <p>{{datos.salario_percibido_octubre}}</p>

        <p><b>Horas trabajadas noviembre</b></p>
        <p>{{datos.horas_trabajadas_noviembre}}</p>
        <p><b>Salario percibido noviembre</b></p>
        <p>{{datos.salario_percibido_noviembre}}</p>

        <p><b>Horas trabajadas diciembre</b></p>
        <p>{{datos.horas_trabajadas_diciembre}}</p>
        <p><b>Salario percibido diciembre</b></p>
        <p>{{datos.salario_percibido_diciembre}}</p>    <!-- Fin de Horas trabajadas y salario percibido en el año -->

        <p><b>Horas extras 50% durante el año</b></p>
        <p>{{datos.horas_extras_50_por_ciento_durante_anno}}</p>

        <p><b>Salario percibido horas extras 50% año</b></p>
        <p>{{datos.salario_percibido_horas_extras_50_por_ciento_anno}}</p>

        <p><b>Horas extras 100% durante el año</b></p>
        <p>{{datos.horas_extras_100_por_ciento_durante_anno}}</p>

        <p><b>Salario percibido horas extras 100% año</b></p>
        <p>{{datos.salario_percibido_horas_extras_100_por_ciento_anno}}</p>

        <p><b>Aguinaldo</b></p>
        <p>{{datos.aguinaldo}}</p>

        <p><b>Beneficios</b></p>
        <p>{{datos.beneficios}}</p>

        <p><b>Bonificaciones</b></p>
        <p>{{datos.bonificaciones}}</p>

        <p><b>Vacaciones</b></p>
        <p>{{datos.vacaciones}}</p>

        <p><b>Horas trabajadas incluyendo horas extras</b></p>
        <p>{{datos.horas_trabajadas_incluyendo_horas_extras}}</p>

        <p><b>Total recibido en concepto de salario sin ingresos extras</b></p>
        <p>{{datos.total_recibido_en_concepto_de_salario}}</p>

        <p><b>Total percibido, incluyendo aguinaldo, beneficios, bonificaciones, y vacaciones</b></p>
        <p>{{datos.total_incluyendo_ingresos_extras}}</p>

        <p><b>Fecha en la que se registró la Planilla de Sueldos y Jornales</b></p>
        <p>{{datos.timestamp}}</p>
    {% endfor %}
{% endblock %}